@import "headers.css";
@import "footer.css";
@import "media-queries.css";
.post-container {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas: "hd" "main" "ft";
    font-size: 20px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}


/* //////////////////// post-header (contains nav-bar) ///////////////////////// */


/* /// in headers.css/// */


/* //////////////////////////////// End of post-header //////////////////////// */


/* //////////////////////////////// main content //////////////////////// */

.main {
    grid-area: main;
}


/* /////// general-info contains (post-info and author-info)//////// */

.general-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 70%;
    margin: 5% auto 3% auto;
}


/* //// post-info div contains (main-post-title) //// */

.post-info {
    display: flex;
    flex-direction: column;
    margin-right: 0;
    margin-bottom: auto;
    margin-top: auto;
    align-items: center;
    width: 65%;
}

.main-post-title {
    margin: 0;
    font-size: 300%;
    width: 100%;
    text-align: center;
    font-weight: 400;
    color: #d95750;
    /* border-bottom: 2px solid lightgray; */
}


/* //// End of post-info div //// */


/* //// author-info div contains (author-avatar-name,author-company,author-bio,social-media) ////  */

.author-info {
    display: flex;
    flex-direction: column;
    padding: 2% 2% auto auto;
    width: 20%;
}


/* // author-avatar-name contains (avatar , author-name)// */

.author-avatar-name {
    display: inherit;
    margin-bottom: 4%;
}

.avatar {
    width: 50px;
    height: 50px;
    display: block;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    margin: 0;
    margin-right: 4%;
}

.author-name {
    margin: auto auto auto 0;
    font-weight: 500;
    font-size: 85%;
}


/* // End of author-avatar-name// */

.author-company {
    margin: 0;
    font-weight: 400;
    font-size: 80%;
}

.short-bio {
    font-weight: 200;
    font-size: 70%;
    margin-bottom: 10%;
}


/* // social-media contains 3 icons// */

.social-media {
    display: flex;
    flex-direction: row;
    gap: 5%;
}

.tw-icon,
.fb-icon,
.in-icon {
    width: 25px;
    height: 25px;
}

.tw-link:hover,
.fb-link:hover,
.in-link:hover {
    opacity: 50%;
    transition: opacity 0.5s;
    -webkit-transition: opacity 0.5s;
    -moz-transition: opacity 0.5s;
    -ms-transition: opacity 0.5s;
    -o-transition: opacity 0.5s;
}


/* // End of social-media // */


/* //// End of author-info ////  */


/* /////// End of general-info //////// */


/* /////// post-content contains (date, post-text,udacity-link,home-link) //////// */

.post-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.post-date {
    font-size: 80%;
    text-align: right;
    width: 70%;
    color: #2e6639;
}


/* //// post-text contains quotes ////  */

.post-text {
    margin: auto;
    width: 70%;
    text-align: justify;
    line-height: 150%;
    font-weight: 300;
}

.quotes {
    margin-top: 5%;
    margin-bottom: 5%;
    color: #7f7f7f;
    font-weight: 300;
}

.quotes::before {
    content: "\201C";
    margin-top: 10%;
    font-size: 500%;
    text-align: right;
}


/* //// End of post-text////  */

.udacity-link {
    color: black;
    text-decoration: none;
    margin-bottom: 5%;
}

.udacity-link:hover {
    color: #ff655e;
}

.home-link {
    box-shadow: none;
    text-decoration: none;
    font-size: 110%;
    padding: 1%;
    background-color: rgba(116, 116, 116, 0.63);
    color: white;
}


/* /////// End of post-content  //////// */


/* //////////////////////////////// End of main content //////////////////////// */