.footer {
    grid-area: ft;
    background-color: #222;
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 80%;
    margin-top: 4%;
    margin-bottom: 0%;
    font-family: 'Roboto', sans-serif;
}