/* /////////////////// Home page header ///////////////// */

.header {
    grid-area: hd;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* ///// image source: unsplash.com */
    background-image: url(imgs/bg-header.jpg);
    background-attachment: fixed;
    color: white;
    /* width: 100vw; */
    width: 100%;
    margin-bottom: 2%;
}

.nav-bar {
    display: flex;
    flex-direction: row;
    list-style: none;
    font-size: 90%;
    margin-top: 30px;
    justify-content: right;
    align-content: flex-end;
}

.nav-bar-item {
    margin-left: 20px;
    color: white;
    text-decoration: none;
    align-self: start;
}

.nav-bar-item:hover {
    color: #ff655e;
    transition: color 0.3s;
    -webkit-transition: color 0.3s;
    -moz-transition: color 0.3s;
    -ms-transition: color 0.3s;
    -o-transition: color 0.3s;
}

.blog-title {
    font-size: 300%;
}


/* /////////////////// blog post header ///////////////// */

.post-header {
    grid-area: hd;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    /* ///// image source: unsplash.com */
    background-image: url(imgs/bg-header.jpg);
    background-attachment: fixed;
    color: white;
    width: 100%;
    height: 10vh;
    gap: 60%;
    margin-bottom: 0;
}

.blog-post-title {
    text-align: left;
    font-size: 180%;
    margin: 0;
    align-self: center;
    justify-self: center;
}

.post-nav-bar {
    display: flex;
    flex-direction: row;
    list-style: none;
    font-size: 70%;
    /* margin-top: 30px; */
    margin-top: auto;
    margin-bottom: auto;
    gap: 5%;
    align-self: flex-end;
    align-content: flex-end;
    align-self: flex-start;
    justify-self: self-start;
    justify-content: space-evenly;
}

.post-nav-bar-item {
    color: white;
    text-decoration: none;
    align-self: start;
}

.post-nav-bar-item:hover {
    color: #ff655e;
    transition: color 0.3s;
    -webkit-transition: color 0.3s;
    -moz-transition: color 0.3s;
    -ms-transition: color 0.3s;
    -o-transition: color 0.3s;
}