@import "headers.css";
@import "footer.css";
@import "media-queries.css";
.container {
    /* height: 100%;
    width: 100%; */
    display: grid;
    grid-template-rows: auto 10fr 1fr;
    grid-template-areas: "hd" "main" "ft";
    font-size: 20px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}


/* //////////////////// Header ///////////////////////// */


/* /// in headers.css/// */


/* //////////////////////////////// End of Header //////////////////////// */


/* //////////////////////////////// main content //////////////////////// */

.content {
    height: 100%;
    grid-area: main;
    display: grid;
    /* grid-template-columns: 33% 33% 33%; */
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: auto;
    justify-content: space-evenly;
    gap: 2%;
    align-items: center;
    margin-right: 10%;
    margin-left: 10%;
}


/* //////// card (post-figure , post-short-info div) //////// */

.card {
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 350px;
    justify-self: center;
    justify-content: center;
    align-items: center;
    background-color: #f2f2f2;
    font-size: 70%;
    padding: 2px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.card:hover {
    box-shadow: 0 2px 4px 0 #c3c3c3;
    transition: box-shadow 0.5s;
    -webkit-transition: box-shadow 0.5s;
    -moz-transition: box-shadow 0.5s;
    -ms-transition: box-shadow 0.5s;
    -o-transition: box-shadow 0.5s;
}


/* //// post-figure //// */

.post-figure {
    margin-bottom: 4%;
}

.post-image {
    margin-bottom: 2%;
    width: 200px;
    height: auto;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

.fig-caption {
    font-size: 80%;
}


/* //// End of post-figure //// */


/* //// post-short-info div (post title, date, short paragraph,continue reading button)//// */

.post-short-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    margin: 0;
}

.post-title {
    margin-top: 2%;
    margin-bottom: 4%;
    align-self: center;
    color: #2e6639;
    font-weight: 500;
}

.card-date {
    color: #7f7f7f;
    font-weight: 100;
    align-self: center;
    margin-bottom: 2%;
}

.post-intro {
    font-size: 90%;
    text-align: center;
    margin-bottom: 4%;
    margin-top: 0;
}


/* //// continue reading button //// */

.reading-btn {
    background-color: #c6c6c64b;
    padding: 3px;
    box-shadow: none;
    border: none;
    font-size: 90%;
    border-radius: 5%;
    -webkit-border-radius: 5%;
    -moz-border-radius: 5%;
    -ms-border-radius: 5%;
    -o-border-radius: 5%;
}

.reading-btn:hover {
    transform: scale(1.02);
    -webkit-transform: scale(1.02);
    -moz-transform: scale(1.02);
    -ms-transform: scale(1.02);
    -o-transform: scale(1.02);
    transition: tranform 0.5s;
    -webkit-transition: tranform 0.5s;
    -moz-transition: tranform 0.5s;
    -ms-transition: tranform 0.5s;
    -o-transition: tranform 0.5s;
}

.reading-link {
    text-decoration: none;
    color: #d95750;
}


/* //// End of continue reading button //// */


/* //// End of post-short-info //// */


/* ////////  End of card //////// */


/* //////////////////////////////// End of main content //////////////////////// */